#labelFrom {
	background-color: white;
	padding: 3px;
}

#labelTo {
	background-color: white;
	padding: 3px;	
}

#labelWhere {
	background-color: white;
	padding: 3px;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel {
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(127, 157, 195);
    border-radius: 0 0 0 8px;
    padding: 7px;
}
